img {
    max-width: 150px;
    max-height: 150px;
}

.loader {
    display: none;
}

.error {
    display: none;
}

.cat-info {
    min-height: 400px;
        border: 1px solid #ccc;
        padding: 10px;
}